@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --theme_brown: #202020;
    --theme_yellow: #FFCE76;
    --theme_blue: #19B9E4;
    --theme_green: #39ff14;

}

::selection{
    background-color: var(--theme_yellow);
    color: var(--theme_brown);
}

body::before{
  content: "⚙️ Under Construction";
  color: #ffce76;
  background-color: #1d1919;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  width: 13em;
  position: fixed;
  text-align: center;
  top: 0;
  left: 40vw;
  right: 40vw;
  z-index: 3;
}

body{
    font-family: 'Ubuntu Mono', monospace;

}

a{
    color: var(--theme_yellow);
}


/* ------------------------------ GOTO TOP BUTTON ------------------------------ */
.topbutton{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
}
.topbutton a{
    text-decoration: none;
    color: var(--theme_yellow);
    padding: 15px 15px;
    border: var(--theme_yellow) 1px solid;
}
.topbutton a:hover{
    text-decoration: underline;
}




/* ------------------------------ BASIC NAVBAR ------------------------------ */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
    font-family: 'Ubuntu Mono', monospace;
    margin: 1em;
}
nav .logo{
    flex: 0.5;
}
nav .logo img{
    width: 15em;
}
nav .links{
    flex: 1;
    /* margin-right: 5em; */

}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.menu_link{
    color: var(--theme_yellow);
    font-size: 1.5em;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 1em;
}
.menu_link:hover{
    text-decoration: underline;
}

/* ------------------------------ COMMON CLASSES ------------------------------ */
.highlight_text{
    background-color: var(--theme_yellow);
    color: var(--theme_brown);
}



/* ------------------------------ FOOTER ------------------------------ */
footer{
    background-color: black;
    width: 100%;
    padding: 2em 2em;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.footer-terminal{
    border: 1px solid white;
}
.footer-terminal .command-area{
    padding: 1em 1em;
}


footer p{
    font-family: 'Share Tech Mono', monospace;
    color: white;
    font-size: 1em;
    text-align: left;
    
    
}
footer p a{
    color: grey;
    text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
}


footer .green{
    color: var(--theme_green);
    
}
footer .blue{
    color: var(--theme_blue);

}



/* ------------------------------ MIN MAX CLOSE BUTTONS ------------------------------ */

.min_max_close{
    display: flex;
    color: var(--theme_yellow);
}
.min_max_close div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid var(--theme_yellow);
}
.min_max_close div:hover{
    border: 1px solid var(--theme_yellow);
}
.min_max_close .max span{
    border: 1px solid var(--theme_yellow);
    padding: 0.3em 0.3em;
}
.min_max_close div:hover{
    cursor: pointer;
    background-color: grey;

}

.min_max_close .close:hover{
    background-color: red;
}
