body {
  background-color: whitesmoke;
}

/* HEROPAGE */
.heropage {
  color: #1d1919;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.art1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  z-index: -1;
}

#Name {
  font-family: "Kalam", cursive;
  font-size: 6em;
  transition: 0.2s ease;
  position: absolute;
  top: 2em;
  right: 1em;
}

#Name:hover {
    transition: 0.2s ease;
    text-shadow: 1px 10px 5px #1d191940;
}

#Divider1 {
    width: 40%;
    z-index: -1;
}

.tagline {
    font-family: "Inspiration", cursive;
    font-size: 10em;
    position: absolute;
    right: 1em;
    top: 2em;
}
.tagline > strong {
}
