body{
  background-image: url("../images/alone_sitting.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

.heropage{
  color: #ffce76;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


#Name {
  color: #1D1919;
  font-family: 'Dekko', cursive;
  font-size: 5em;
  transition: 0.2s ease;
}

#Name:hover{
    transition: 0.2s ease;
    text-shadow: 1px 10px 5px #1d191940;
}

#Divider1 {
  width: 40%;
  z-index: -1;
}

.tagline {
  color: #FDB827;
  font-family: 'Rock Salt', cursive;
  font-size: 4em;
}
.tagline span{
  color: #1D1919;
}

.art{
  z-index: 1;
  position: absolute;
  width: 20%;
  bottom: 0em;
  left: 33em;

}

.writing{
  border-top: solid 5px #ffce76;
  margin: 1em 10em;
  color: #ffce76;
  font-size: 1.4em;
  background-color: #1d19198c;
  padding: 1em;
}