

body{
    background-color: var(--theme_brown);
    display: flex;
    flex-direction: column;
}


/* ------------------------------ FRONT SECTION ------------------------------ */
.front-section{
    display: flex;
    align-items: center;
    color: var(--theme_yellow);
    padding: 2em 4em;
    margin: 1em 0em;

}
.front-section .front_text_div{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
}
.front-section .front_text_div .welcome_text{
    font-size: 3.5em;
    padding: 0em 0.5em;
}
.front-section .front_image_div{
    width: 100%;
    flex:1;
}
.front-section .front_image_div .coloured_me{
    border: 3px solid var(--theme_yellow);
    width: 100%;
}





/* ------------------------------ INFO SECTION ------------------------------ */

.info_section{
    padding: 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';

}

.info_card_title{
    color: var(--theme_yellow);
}

.info_section .info_card{
    width: 80%;
    border: 3px solid var(--theme_yellow);
    display: flex;
    color: var(--theme_yellow);
}


.info_section .info_card .short{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--theme_yellow);

}

.info_section .info_card .short .short_image_div{
    width: 15em;
    
}
.info_section .info_card .short .short_image_div img{
    /* border: 1px solid var(--theme_yellow); */
    border-right: 1px solid var(--theme_yellow);
    border-bottom: 1px solid var(--theme_yellow);
    width: 100%;
}

.info_section .info_card .short .short_text_div{
    padding: 1em 1em;
    flex:1;
}
.info_section .info_card .short .short_text_div p{
    margin: 1em 0em;
}


.info_section .info_card .brief{
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 1em 1em;
font-size: 1.5em;
}
.info_section .info_card .brief .present_status{
    margin-top: 1em;
    
}
.info_section .info_card .brief .present_status p{
    margin: 0.2em 0em;
}


/* ------------------------------ SOCIAL SECTION ------------------------------ */

.social_section{
    display: flex;
    padding: 1em 1em;
    justify-content: center;
    /* align-items: center; */
}
.social_div{
    font-size: 1.5em;
    padding: 1em 1em;
    margin: 1em 1em;
    color: var(--theme_yellow);
    display: flex;
    flex-direction: column;
}
.social_div div:first-child{
    text-align:center;
}

.social_div a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 1em;
    padding: 0.5em 0.5em;
    border: 2px solid var(--theme_yellow);
    text-decoration: none;
}
.social_div a:hover{
    color: var(--theme_brown);
    background-color: var(--theme_yellow);
}

.social_div .social_part_{
    display: flex;
    justify-content: center;
    
}
.social_div .social_part_ div{
    display: flex;
}


/* RESPONSIVENESS */


@media (max-width: 1000px) {
    .info_section{
        padding: 0em 0em;
}

    .info_section .info_card{
        width: 100%;
}
}


@media (max-width: 850px) {
    body{
        font-size: 0.8em;
    }
    .front-section{
        flex-direction: column;
        margin: 5em 0em;
    }
.front-section .front_text_div{
    font-size: 1em;
    align-self: center;
    width: 100%;
    margin: 2em 0em;
}

}
@media (max-width: 680px) {
.front-section .front_image_div{
    width: 80%;
    flex:1;
}
.front-section .front_image_div .coloured_me{
    border: 3px solid var(--theme_yellow);
    width: 100%;
}


.info_section .info_card{
    flex-direction: column;
}
.info_section .info_card .short{
    font-size: 1.5em;
    flex-direction: row;
    border-right: 0px solid var(--theme_yellow);
    border-bottom: 1px solid var(--theme_yellow);
    
}
.info_section .info_card .short .short_image_div{
    width: 50%;
    /* flex: 1; */
}
.info_section .info_card .short .short_text_div{
    width: 50%;
    /* flex: 1; */
}
.info_section .info_card .min_max_close{
    display: none;
}



.social_section{
    /* padding: 0em 0em; */
    font-size: 1.5em;
}

.social_div{
    width: 100%;
    margin: 1em 0em;
    padding: 0em 0em;
}

.social_div .social_part_{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social_div .social_part_ div{
    justify-content: center;
    align-items: center;
    width: 100%;
}


}

@media (max-width:460px) {

    .info_section .info_card .short{
        flex-direction: column;
        align-items: center;
    }
.info_section .info_card .short .short_image_div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.info_section .info_card .short .short_image_div img{
    border: 1px solid var(--theme_yellow);
    width: 50%;
}


.info_section .info_card .short .short_text_div{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em 0em;
    flex:0;
}
.info_section .info_card .short .short_text_div p{
    margin: 1em 0em;
}

}