

body{
    background-color: var(--theme_brown);
    display: flex;
    flex-direction: column;

}


/* ------------------------------ FRONT SECTION ------------------------------ */
.front-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--theme_yellow);
    /* justify-content: center; */
    /* flex-direction: column; */
    /* border-bottom: 3px solid var(--theme_yellow); */

}
.front-section .front_text_div{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;

    /* flex: 1; */
}
.front-section .front_text_div .welcome_text{
    font-size: 3.5em;
    padding: 0em 0.5em;
}
.front-section .front_text_div .welcome_text code{
    background-color: var(--theme_yellow);
    color: var(--theme_brown);
}

.front-section .front_image_div{
    width: 50%;
    flex:1;
}
.front-section .front_image_div .coloured_me{
    border: 3px solid var(--theme_yellow);
    width: 100%;
}


/* ------------------------------ INFO SECTION ------------------------------ */

.info_section{
    min-height: 100vh;
    padding: 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_card_title{
    color: var(--theme_yellow);
}

.info_section .info_card{
    width: 80%;
    border: 3px solid var(--theme_yellow);
    display: flex;
    color: var(--theme_yellow);
}


.info_section .info_card .short{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--theme_yellow);

}

.info_section .info_card .short .short_image_div{
    width: 15em;
    
}
.info_section .info_card .short .short_image_div img{
    /* border: 1px solid var(--theme_yellow); */
    border-right: 1px solid var(--theme_yellow);
    border-bottom: 1px solid var(--theme_yellow);
    width: 100%;
    filter: contrast(200%);
    transition: 0.3s ease;
}

.info_section .info_card .short .short_image_div img:hover{
    transition: 0.5s ease;
    filter: contrast(100%);



}

.info_section .info_card .short .short_text_div{
    padding: 1em 1em;
    flex:1;
}
.info_section .info_card .short .short_text_div p{
    margin: 1em 0em;
}


.info_section .info_card .brief{
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
padding: 1em 1em;
font-size: 1.5em;
}
.info_section .info_card .brief ul{
    list-style-type: square;
    margin-top: 0.5em;
}


/* ------------------------------ SOCIAL SECTION ------------------------------ */

.social_section{
    min-height: 100vh;
    display: flex;
    padding: 1em 8em;
    justify-content: center;
    /* align-items: center; */
}
.social_ways_div{
    color: var(--theme_yellow);
    font-size: 2em;
}
.social_ways_div li{
    margin: 1em;

}

.social_ways_div a{
    color: var(--theme_yellow);
}
